<%- include ("Header") -%>

    <h2>This is about page</h2>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla ullam sunt molestias similique earum quis deleniti labore quia provident, qui ratione, excepturi ea? Quis corrupti eveniet quod voluptate, eum dolorem?</p>

    <%- include ("Footer") -%>